<html>
    <head>
        <title>Post IT! - Confirm</title>
    </head>
    <body>
		<h1>Post IT! - Confirm</h1>
		<h3>You are about to post : </h3>
		<p>"{{ obj.message }}"</p>
		<br>
		<h3>As : {{ obj.username }} </h3>

		<p> if the data is correct, please type "YES" (all caps) and submit </p>
		<small> Submitting with any other input will return you to the main page and will NOT save your post </small>
		<form method="POST">
			{% csrf_token %}
            <style>
                table, tr, td {
                border: 1px solid black;
                                }
            </style>
			<table>
				<tr><td><input id ="YES" type="text" name="YES" placeholder="YES"></td></tr>
				<tr><td><input type="submit" id="submit-confirm"></td></tr>
			</table>
		</form>
	</body>
</html>