<html>
    <head>
        <title>Post IT! - Submission Error</title>
    </head>
    <body>
		<h3>Data isn't complete!</h3>
		<p>The data you submitted isn't complete, please check both field are filled!</p>
		<a href="{% url 'home' %}">Return Home</a>
	</body>
</html>