<html>
    <head>
        <title>Post IT!</title>
    </head>
    <body>
		<h1>Post IT!</h1>
		<form method="POST">
			{% csrf_token %}
            <style>
                table, tr, td {
                border: 1px solid black;
                                }
            </style>
			<table>
				<tr><td><input type="text" name="username_input" id="post_it_user" placeholder="Username"></td></tr>
				<tr><td><textarea name="forum_post" id="id_new_post" placeholder="Enter a Post IT!"></textarea></td></tr>
				<tr><td><input type="submit" id="submit_post"></td></tr>
			</table>
		</form>
		​<table id="id_list_table" width="80%">
			{% for i in obj %}
			<tr><td>"{{ i.username }}" Posted : </td></tr>
			<tr><td>{{ i.message }}<br><br></td></tr>
			{% endfor %}
		​</table>
	</body>
</html>